.container {
    background-color: var(--secundary);
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header {
    display: flex;
    justify-content: center;
}

.text {
    text-transform: uppercase;
    color: var(--primary);
    text-align: center;
    font-size: 48px;
    border-bottom: 6px var(--primary) solid;
    margin: 10px 0;
}

.skillsContainer {
    min-width: 85%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 10px;
}

.card {
    padding: 1.5rem 2rem;
    font-size: 48px;
    color: var(--primary);
    text-transform: capitalize;
    height: auto;
    width: auto;
    text-align: center;
    border-radius: 1rem;
    box-shadow: -8px -8px 12px 0px #ffffff,
        -4px -4px 8px 0px #ffffff,
        8px 8px 12px 0px #BDC3C7BF,
        4px 4px 8px 0px #BDC3C7BF;
}

.meContainer {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.imageInformation,
.softSkillsContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    transition: 1s ease;
}

.imageContainer {
    min-width: 60%;
    height: auto;
    padding: .5rem;
    border-radius: 15px;
    box-shadow: -8px -8px 12px 0px #ffffff41,
        -4px -4px 8px 0px #ffffffb0,
        8px 8px 12px 0px #bdc3c73e,
        4px 4px 8px 0px #bdc3c7bb;
    display: flex;
    justify-content: center;
    align-items: center;

}

.foto {
    border-radius: 15px;
    min-width: 80%;
    height: auto;

}

.title {
    width: 80%;
    font-size: 25px;
    color: var(--primary);
}



.softSkills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.skillCard {
    margin: 10px 20px;
    width: 80%;
    height: auto;
    border-radius: 1rem;
    box-shadow: -8px -8px 12px 0px #ffffff41,
        -4px -4px 8px 0px #ffffffb0,
        8px 8px 12px 0px #bdc3c73e,
        4px 4px 8px 0px #bdc3c7bb;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.skillCard img {
    width: 80%;
    height: auto;
}

/* Telphone  */
@media (max-width: 1200px) {

    .text {
        font-size: 35px;
    }

    .card {
        font-size: 25px;

        padding: 1rem 1.5rem;
    }

    .skillsContainer {
        gap: 1rem;
    }


    .imageInformation,
    .softSkillsContainer {
        min-width: 90%;
        flex-direction: row-reverse;
        gap: 1rem;
    }

    .meContainer {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-width: 95%;
    }

    .imageContainer {
        min-width: 40%;
    }


    .softSkills {
        grid-template-columns: repeat(5, 1fr);
        width: 90%;
        justify-content: center;
        gap: .5rem;
    }

    .title {
        width: 100%;
        font-size: 25px;
    }

    .skillCard {
        width: 90%;
        border-radius: .5rem;
    }

    .skillCard img {
        width: 100%;
    }
}


@media (max-width: 720px) {

    .text {
        font-size: 25px;
    }

    .card {
        font-size: 20px;
        padding: .5rem 1rem;
    }

    .skillsContainer {
        width: 70%;
        gap: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }


    .imageInformation,
    .softSkillsContainer {
        min-width: 100%;
        flex-direction: column;
        gap: 0;
    }


    .meContainer {
        flex-direction: column;
        align-items: center;
    }

    .imageContainer {
        max-width: 60%;
    }

    .softSkills {
        grid-template-columns: repeat(8, 1fr);
        width: 80%;
        justify-content: center;
        gap: 5px;
    }

    .title {
        width: 100%;
        font-size: 17px;
    }



}