.container {
    background-color: var(--secundary);
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: center;
}


.text {
    text-transform: uppercase;
    color: var(--primary);
    text-align: center;
    font-size: 48px;
    width: 25rem;
    border-bottom: 6px var(--primary) solid;
    margin: 10px 0;
}

.contactContainer {
    display: flex;
    justify-content: space-around;
    margin: 5rem;

}

.socialContainer {
    display: flex;
    flex-direction: column;
    min-width: 35%;
    height: auto;
    gap: 1rem;

}

.socialNetwork {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    box-shadow: -8px -8px 12px 0px #ffffff41,
        -4px -4px 8px 0px #ffffffb0,
        8px 8px 12px 0px #bdc3c73e,
        4px 4px 8px 0px #bdc3c7bb;
    text-decoration: none;
    color: var(--primary);
    transition: .7s ease;
}

.socialNetwork img {
    border-radius: 35px;
    margin-left: 1rem;
}


.socialNetwork p {
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color: var();
    text-align: end;
}

.socialNetwork:hover {
    box-shadow: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 1rem;
}

.form p {
    font-size: 24px;
    font-weight: 600;
    color: var(--primary);
}

.input {
    border-radius: 15px;
    font-size: 24px;
    font-weight: 500;
    padding-left: 1rem;
    border-style: none;
    width: 70%;
    height: auto;
    background-color: var(--secundary);
    box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.75), inset 2px 2px 8px rgba(189, 195, 199, 0.25);
}

.message {
    margin-top: 1rem;
    border-radius: 15px;
    font-size: 24px;
    font-weight: 500;
    padding-left: 1rem;
    border-style: none;
    background-color: var(--secundary);
    width: 70%;
    height: auto;
    box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.75), inset 2px 2px 8px rgba(189, 195, 199, 0.25);
}


.send {
    box-shadow: -8px -8px 12px 0px #ffffff41,
        -4px -4px 8px 0px #ffffffb0,
        8px 8px 12px 0px #bdc3c73e,
        4px 4px 8px 0px #bdc3c7bb;
    border: none;
    width: 50%;

    height: auto;
    font-size: 24px;
    cursor: pointer;
    transition: .5s ease;
    border-radius: 5px;
}

.send:hover {
    box-shadow: none;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
}

.footer p {
    color: white;
}


/* Telphone  */
@media (max-width: 1200px) {

    .text {
        font-size: 35px;
    }


    .contactContainer {
        width: 90%;
        margin: 2rem;
    }

    .socialContainer {
        width: 100%;
        gap: 2rem;
    }

    .socialNetwork {
        justify-content: space-around;
    }

    .socialNetwork p {
        font-size: 25px;
    }

    .form {
        width: 70%;

    }


    .input {
        width: 100%;
    }

    .message {
        width: 100%;
    }



}


@media (max-width: 720px) {

    .text {
        font-size: 25px;
    }

    .descriptionPage {
        font-size: 15px;
    }

    .contactContainer {
        height: 100%;
        align-items: center;
    }

    .socialContainer {
        width: 100%;
    }

    .socialNetwork {
        justify-content: space-around;
        width: 80%;

    }


    .socialNetwork p {
        font-size: 15px;
    }

    .socialNetwork img {
        width: 30%;
    }

    .form {
        align-items: center;
        justify-content: center;
        width: 70%;

    }

    .input,
    .message,
    .form p {
        font-size: 15px;
    }

    .send {
        width: 100%;
        font-size: 20px;
    }

}