.container {
    background-color: var(--secundary);
    width: auto;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
}


.text {
    text-transform: uppercase;
    color: var(--primary);
    text-align: center;
    font-size: 48px;
    width: 25rem;
    border-bottom: 6px var(--primary) solid;
    margin: 10px 0;
}


.projectsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.projectsContainer a {
    font-style: none;
    text-decoration: none;
    color: var(--primary);
}

.projectsContainer h3 {
    text-align: center;
    text-transform: capitalize;
}

.projectCard {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    border-radius: 1rem;
    width: 25rem;
    height: 20rem;
    box-shadow: -8px -8px 12px 0px #ffffff41,
        -4px -4px 8px 0px #ffffffb0,
        8px 8px 12px 0px #bdc3c73e,
        4px 4px 8px 0px #bdc3c7bb;
    perspective: 2000px;
}

.projectInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: ease 1.5s;
    transform-style: preserve-3d;
}

.cardFront {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardFront,
.cardBack {
    border-radius: 10px;
    position: absolute;
    backface-visibility: hidden;
}

.cardBack {
    display: flex;
    height: 100%;
    font-size: 1rem;
    text-align: center;
    place-items: center;

    margin-top: 0px;
    text-transform: capitalize;
    background-color: var(--primary);
    color: var(--secundary);
    font-weight: bold;
    transform: rotateY(180deg);
}

.projectCard:hover .projectInner {
    transform: rotateY(-180deg);
}

/* Movil pequeño */
@media only screen and (max-width:360px) {

    .text {
        font-size: 20px;
        width: 10rem;
        border-bottom: 2px var(--primary) solid;
    }


    .projectsContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .projectCard {
        margin: 5px 0;
        border-radius: 5px;
        width: 8rem;
        height: 7rem;
    }

    .projectCard img {
        border-radius: 5px;
        width: 8rem;
        height: 5rem;
    }

    .projectCard h3 {
        font-size: 10px;
    }

}

/* Movil medio */
@media only screen and (min-width:361px) and (max-width:375px) {
    .text {
        font-size: 30px;
        width: 15rem;
        border-bottom: 3px var(--primary) solid;
    }

    .projectCard {
        margin: 10px 0;
        border-radius: 5px;
        width: 8rem;
        height: 7rem;
    }

    .projectCard img {
        border-radius: 5px;
        width: 8rem;
        height: 5rem;
    }

    .projectCard h3 {
        font-size: 10px;
    }

}

/* Smartphone */
@media only screen and (min-width:376px)and (max-width:720px) {
    .text {
        font-size: 35px;
        width: 15rem;
        border-bottom: 4px var(--primary) solid;
    }

    .projectCard {
        margin: 10px 0;
        border-radius: 5px;
        width: 10rem;
        height: 10rem;
    }

    .projectCard img {
        border-radius: 5px;
        width: 10rem;
        height: 7rem;
    }

    .projectCard h3 {
        font-size: 13px;
    }

}

/* Ordenador portatil medio */
@media only screen and (min-width:721px)and (max-width:1366px) {
    .text {
        font-size: 50px;
        width: 20rem;
        border-bottom: 5px var(--primary) solid;
    }

    .projectCard {
        margin: 20px 0;
        border-radius: 5px;
        width: 16rem;
        height: 15rem;
    }

    .projectCard img {
        border-radius: 5px;
        width: 16rem;
        height: 12rem;
    }

    .projectCard h3 {
        font-size: 18px;
    }

}

@media only screen and (min-width:1367px) {


    .projectCard {
        margin-top: 3rem;
        border-radius: 5px;
        width: 20rem;
        height: 18rem;
    }

    .projectCard img {
        border-radius: 5px;
        width: 20rem;
        height: 14rem;
    }

    .projectCard h3 {
        font-size: 20px;
    }
}