.container {
    background-color: var(--secundary);
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
}


.text {
    text-transform: uppercase;
    color: var(--primary);
    text-align: center;
    font-size: 48px;
    width: 25rem;
    border-bottom: 6px var(--primary) solid;
    margin: 10px 0;
}

.descriptionPage {
    color: var(--primary);
    text-align: center;
}



.projects {
    width: 90%;
}

.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

.cardLink {
    display: flex;
    justify-content: space-between;
    width: 35%;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: -8px -8px 12px 0px #ffffff,
        -4px -4px 8px 0px #ffffff,
        8px 8px 12px 0px #BDC3C7BF,
        4px 4px 8px 0px #BDC3C7BF;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 0 1rem;
}


.cardImage {
    width: 60%;
    height: 95%;
    border-radius: 10px;
}

.cardIcons {
    width: 10%;
    height: auto;
    border-radius: 1rem;
    box-shadow: -8px -8px 12px 0px #ffffff41,
        -4px -4px 8px 0px #ffffffb0,
        8px 8px 12px 0px #bdc3c73e,
        4px 4px 8px 0px #bdc3c7bb;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.cardIcons img {
    width: 90%;
    height: auto;
}

.cardIconsInformation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin: 1rem 0;
}

.cardDescription {
    color: var(--primary);
}

/* Telphone  */
@media (max-width: 1200px) {

    .text {
        font-size: 35px;
    }

    .cardLink {
        height: 90%;
        align-items: center;
    }


    .cardIconsInformation {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cardIcons {
        width: 20%;
        height: auto;
    }

    .cardImage {
        width: 100%;
        height: auto;
    }

    .cardDescription {
        font-size: 15px;
    }
}


@media (max-width: 720px) {

    .text {
        font-size: 25px;
    }

    .descriptionPage {
        font-size: 15px;
    }


    .cardLink {
        width: 40%;
    }

    .card {
        justify-content: space-between;
    }

    .card h3,
    .cardDescription {
        font-size: 10px;
        padding: 0;
    }

    .cardImage {
        width: 100%;
    }

    .cardIconsInformation {
        display: flex;
        flex-direction: column;
    }


    .cardIcons img {
        width: 100%;
    }

}